
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link href="../assets/profile/css/bootstrap.min.css" rel="stylesheet" />
</head>



<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
            </a>
            <p class="description">
              @{{currentUser.firstName}}
            </p>
          </div>
          <p class="description text-center">
            "I like the way you work it
            <br> No diggity
            <br> I wanna bag it up"
          </p>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <div *ngIf="currentUser?.role==='customer'" class="row">
              <div  class="col-lg-3 col-md-6 col-6 ml-auto">
                <h5>
                  {{stats[2]}}
                  <br>
                  <small>Completed task</small>
                </h5>
              </div>
              <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                <h5>
                 {{stats[1]}}
                  <br>
                  <small>Active task</small>
                </h5>
              </div>
              <div class="col-lg-3 mr-auto">
                <h5>
                  {{stats[0]}}
                  <br>
                  <small>Earned money
                  </small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">My Subscriptions</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  Nix Solution
                  <br />
                  <span class="text-muted">
                    <small>Offline</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
            <li>
     
            </li>
            <li>
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                  </div>
                </div>
                <div class="col-ms-7 col-7">
                  IT Epam
                  <br />
                  <span class="text-danger">
                    <small>Busy</small>
                  </span>
                </div>
                <div class="col-md-3 col-3 text-right">
                  <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Profile</h5>
        </div>
        <div class="card-body">
          <form method="post" #form="ngForm">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Company </label>
                  <input type="text" class="form-control" disabled="" placeholder="CompanyName" value="{{currentUser.companyName}}">
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Role </label>
                  <input type="text" class="form-control" disabled="" placeholder="Role" value="{{currentUser?.role!=null ? '' : '' }} {{currentUser?.role}}">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Email address </label>
                  <input type="email" class="form-control" disabled="" placeholder="Email" value="{{currentUser?.email!=null ? '' : '' }} {{currentUser?.email}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name </label>
                  <input type="text" class="form-control" disabled="" placeholder="First Name" value="{{currentUser?.firstName!=null ? '' : '' }} {{currentUser?.firstName}}">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name </label>
                  <input type="text" class="form-control" disabled="" placeholder="Last Name" value="{{currentUser?.lastName!=null ? '' : '' }} {{currentUser?.lastName}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7 pr-1">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control" disabled="" placeholder="Phone" name="Phone" value="{{currentUser?.phone!=null ? '' : '' }} {{currentUser?.phone}}">
                </div>
              </div>
              <div class="col-md-2 pr-1">
                <div class="form-group">
                  <label>Subscription Status:</label>
                  <input type="button" class="form-control" placeholder="Phone" name="Phone" value="Paid">
                </div>
              </div>
              <div class="col-md-2 pr-1">
                <div class="form-group">
                  <label>&#160;</label>
                  <input style="background-color:greenyellow" type="button" class="form-control"  placeholder="Phone" name="Phone" value="Free">
                </div>
              </div>
            </div>
     

       
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

