<style>
  #inner {
    width: 80%;
    margin: 0 0 0 200px;
  }
  .empty {
    font-size: 25px;
    padding:5% 5% 5% 46%
  }

</style>



<div *ngIf="currentUser?.role==='admin'">
  <div class="state-overview">
    <div class="row">
      <div class="col-xl-3 col-md-6 col-12">
        <div class="info-box bg-blue">
          <span class="info-box-icon push-bottom"><i class="material-icons">style</i></span>
          <div class="info-box-content">
            <span class="info-box-text">Company</span>
            <span class="info-box-number">{{carriers?.length!=null ? '' : 'Loading..' }} {{carriers?.length}}</span>
            <div class="progress">
              <div class="progress-bar width-60"></div>
            </div>
            <span class="progress-description">
              60% Increase in 28 Days
            </span>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 col-12">
        <div class="info-box bg-orange">
          <span class="info-box-icon push-bottom"><i class="material-icons">card_travel</i></span>
          <div class="info-box-content">
            <span class="info-box-text">Employer</span>
            <span class="info-box-number">{{stats!=null ? '':'Loading..'}} {{stats[0]}}</span>
            <div class="progress">
              <div class="progress-bar width-40"></div>
            </div>
            <span class="progress-description">
              40% Increase in 28 Days
            </span>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 col-12">
        <div class="info-box bg-purple">
          <span class="info-box-icon push-bottom"><i class="material-icons">phone_in_talk</i></span>
          <div class="info-box-content">
            <span class="info-box-text">Completed Task</span>
            <span class="info-box-number">{{stats!=null ? '':'Loading..'}} {{stats[1]}}</span>
            <div class="progress">
              <div class="progress-bar width-80"></div>
            </div>
            <span class="progress-description">
              80% Increase in 28 Days
            </span>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-12">
        <div class="info-box bg-success">
          <span class="info-box-icon push-bottom"><i class="material-icons">monetization_on</i></span>
          <div class="info-box-content">
            <span class="info-box-text">Earned money </span>
            <span class="info-box-number">{{stats!=null ? '':'Loading..'}} {{stats[2]}}</span><span>$</span>
            <div class="progress">
              <div class="progress-bar width-60"></div>
            </div>
            <span class="progress-description">
              60% Increase in 28 Days
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <div class="card card-box">
        <div class="card-head">
          <header>Chart Survey</header>
          <div class="tools">
            <a class="fa fa-repeat btn-color " href="javascript:;"></a>
            <a class=" btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class=" btn-color fa fa-times" href="javascript:;"></a>
          </div>
        </div>
        <div class="card-body">
          <div class="row text-center">
            <div class="col-sm-3 col-6">
              <h4 class="margin-0">$ 209 </h4>
              <p class="text-muted"> Today's Income</p>
            </div>
            <div class="col-sm-3 col-6">
              <h4 class="margin-0">$ 837 </h4>
              <p class="text-muted">This Week's Income</p>
            </div>
            <div class="col-sm-3 col-6">
              <h4 class="margin-0">$ 3410 </h4>
              <p class="text-muted">This Month's Income</p>
            </div>
            <div class="col-sm-3 col-6">
              <h4 class="margin-0">$ 78,000 </h4>
              <p class="text-muted">This Year's Income</p>
            </div>
          </div>
          <div class="row">
            <div id="area_line_chart" class="width-100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentUser?.role==='admin'">

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card  card-box">
        <div class="card-head">
          <header>Carriers list</header>
          <div class="tools">
            <a class="fa fa-repeat btn-color " (click)="refresh()"></a>
            <a class=" btn-color fa fa-plus" (click)="openDialog()"></a>
            <a class=" btn-color fa fa-times" href="javascript:;"></a>
          </div>
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table display" id="support_table5">
              <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Cost</th>
                <th>Status</th>
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let carrier of carriers; let i=index; trackBy:identify">
                <th scope="row">{{i+1}}</th>
                <td>{{carrier.name + ' ' + carrier.code}}</td>
                <td>{{carrier.phone}}</td>

                <td>
                  <div *ngIf="carrier.cost;else other_content">
                    <span class="label label-sm label-success">paid</span>
                  </div>
                  <ng-template #other_content>
                    <span class="label label-sm label-warning">free</span>
                  </ng-template>
                </td>
                <td>

                  <div *ngIf="carrier.status; else deactivateStatus">
                    <button class="label label-sm label-success" (click)="changeStatus(carrier)">Active</button>
                  </div>

                  <ng-template #deactivateStatus>
                    <button class="label label-sm label-primary" (click)="changeStatus(carrier)">Deactivate</button>
                  </ng-template>


                </td>

                <td>
                  <button class="btn btn-tbl-edit btn-xs" [routerLink]="['/main/carrier-detail',carrier.id]">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button class="btn btn-tbl-delete btn-xs" (click)="delete(carrier)">
                    <i class="fa fa-trash-o "></i>
                  </button>

                  <button class="btn btn-tbl-add btn-xs" [routerLink]="['/main/carrier',carrier.id] ">
                    <i class="fa fa-users "></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<div *ngIf="currentUser?.role==='customer'">
  <div id="inner">
    <div class="row">

      <div class="col-md-10 col-sm-10">
        <div class="card  card-box">
          <div class="card-head">
            <header>Available Company</header>
            <div class="tools">
              <a class="fa fa-repeat btn-color " (click)="refresh()"></a>
              <a class=" btn-color fa fa-cart-plus" href="javascript:;"></a>
              <a class=" btn-color fa fa-times" href="javascript:;"></a>
            </div>
          </div>
          <div *ngIf="!carriers?.length==0 ; else empty">
            <div class="card-body ">
              <div class="table-responsive">
                <table class="table display" id="support_table5">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Logo</th>
                      <th>Name</th>
                      <th>Connect</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let carrier of carriers;let i=index; trackBy:identify">
                      <th scope="row">{{i+1}}</th>
                      <td>
                        <div class="sidebar-logocarrier">
                          <img src="{{carrier.logo}}" class="img-responsive" alt="Not Found Logo" />
                        </div>
                      </td>
                      <td>{{carrier.name}}</td>

                      <td>
                        <button mat-raised-button color="primary" (click)="subscribe(carrier)">{{buttonSubscribe}}</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>


<div *ngIf="currentUser?.role==='carrier'">

  <div id="inner">
    <div class="row">
      <div class="col-md-10 col-sm-10">
        <div class="card  card-box">
          <div class="card-head">
            <header>Active Users</header>
            <div class="tools">
              <a class="fa fa-repeat btn-color " (click)="refresh()"></a>
              <a class=" btn-color fa fa-cart-plus" href="javascript:;"></a>
              <a class=" btn-color fa fa-times" href="javascript:;"></a>
            </div>
          </div>
          <div *ngIf="!activeUsers?.length==0 ; else empty">
            <div class="card-body ">
              <div class="table-responsive">
                <table class="table display" id="support_table5">
                  <thead>
                  <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Task</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of activeUsers;let i=index; trackBy:identify">
                      <td>{{user.user.firstName}}</td>
                      <td>{{user.user.lastName}}</td>
                      <td>{{user.user.email}}</td>
                      <td>{{user.user.phone}}</td>
                      <td>{{user.task.name}}</td>
                      <td>{{user.task.cost}}</td>
                      <td *ngIf="user.status==='completed'"><p style="color:green">{{user.status}}</p></td>
                      <td *ngIf="user.status==='in progress'"><p style="color:red">{{user.status}}</p></td>
                      <td *ngIf="user.status==='resolved'"><p style="color:gold">{{user.status}}</p></td>

                      <td>
                        <button mat-raised-button color="primary" (click)="closeTask(user.task.id,i)">Close Task</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #empty>
  <div class="empty"><b>EMPTY</b></div>
</ng-template>
