<style>
  .empty {
    font-size: 25px;
    padding:5% 5% 5% 46%
  }

  #inner {
    width: 80%;
    margin: 0 0 0 200px;
  }
</style>

<div id="inner">
  <div class="row">
    <div class="col-md-10 col-sm-10">
      <div class="card  card-box">
        <div class="card-head">
          <header>My Tasks</header>
          <div class="tools">
            <a class="fa fa-repeat btn-color " (click)="refresh()"></a>
            <a class=" btn-color fa fa-plus" (click)="openDialog()" href="javascript:;"></a>
            <a class=" btn-color fa fa-times" href="javascript:;"></a>
          </div>
        </div>
        <div *ngIf="!tasks?.length==0 ; else empty">
          <div class="card-body ">
            <div class="table-responsive">
              <table class="table display" id="support_table5">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Status</th>
                  <th>Cost</th>
                  <th></th>
                  <th></th>

                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks;let i=index; trackBy:identify">
                    <th scope="row">{{i+1}}</th>
                    <td>{{task.name}}</td>
                    <td>
                      <div *ngIf="task.status;else other_content">
                        <span class="label label-sm label-success">Open</span>
                      </div>
                      <ng-template #other_content>
                        <span class="label label-sm label-warning">In Progress</span>
                      </ng-template>
                    </td>
                    <td>{{task.cost}}</td>
                    <td *ngIf="currentUser?.role==='customer'">
                      <button mat-raised-button color="primary" (click)="takeTask(task,i)">take task</button>
                    </td>
                    <td *ngIf="currentUser?.role==='customer'">
                      <button mat-raised-button color="primary" (click)="takeTask(task,i)">resolved</button>
                    </td>
                    <td *ngIf="currentUser?.role==='carrier'">
                      <button mat-raised-button color="primary">delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      <ng-template #empty>
        <div class="empty"><b>EMPTY</b></div>
      </ng-template>
    </div>
  </div>
</div>
