<div class="page-header navbar navbar-fixed-top">
  <div class="page-header-inner ">
    <!-- logo start -->
    <div class="page-logo">
      <a href="index.html">
        <img alt="" src="assets/img/logo.png">
        <span class="logo-default">Shipment</span>
      </a>
    </div>
    <!-- logo end -->
    <ul class="nav navbar-nav navbar-left in">
      <li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
    </ul>
    <form class="search-form-opened" action="#" method="GET">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." name="query">
        <span class="input-group-btn search-btn">
          <a href="javascript:;" class="btn submit">
            <i class="icon-magnifier"></i>
          </a>
        </span>
      </div>
    </form>

    <!-- start mobile menu -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
      <span></span>
    </a>
    <!-- end mobile menu -->
    <!-- start header menu -->
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <!-- start notification dropdown -->
        <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="fa fa-bell-o"></i>
            <span class="badge headerBadgeColor1"> 6 </span>
          </a>

        </li>
        <!-- end notification dropdown -->
        <!-- start message dropdown -->
        <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <i class="fa fa-envelope-o"></i>
            <span class="badge headerBadgeColor2"> 2 </span>
          </a>
          <ul class="dropdown-menu animated slideInDown">
            <li class="external">
              <h3><span class="bold">Messages</span></h3>
              <span class="notification-label cyan-bgcolor">New 2</span>
            </li>
          </ul>
        </li>

        <li class="dropdown dropdown-user">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img alt="" class="img-circle " src="assets/img/dp.jpg" />
            <span class="username username-hide-on-mobile"> John </span>
            <i class="fa fa-angle-down"></i>
          </a>

        </li>

        <li class="dropdown dropdown-quick-sidebar-toggler">
          <a id="headerSettingButton" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
            <i class="material-icons">settings</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
